button.c-btn-back-color-set{
    background-color: #008BFF;
}
.passwordToggler {
    color: #1e293b;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.c-sign-up-para-ca{
    color: #64748b;
}